nav ul li a {
    display: block;
    color: white;
    padding: 8px 20px;
    z-index: 2;
    font-weight: bold;
    

}
nav ul{

    width: 100%;
    justify-content: space-between;
    display: flex;
    max-width: 700px;
}
nav {
    top:0;
    height:68px;
    background-color: black;
    position: sticky;
    width: 100%;
    z-index: 99;
    align-items: center;
    display: flex;
    transition: 0.2s ease-in-out;
}


nav ul li {
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    margin: 0 10px 0 0;
    border-radius: 100px;
    background-color: var(--primary-color);
    transform: translateY(20px);
    opacity: 0;
    width: 99%;
    height: 100%;
    transition: .2s ease-in-out;
    transform-origin: bottom left;
}

nav ul li a:hover::before {
    transform: translateY(0);
    opacity: 1;
    transform-origin: bottom left;
}

nav .active-link {
    background-color: var(--primary-color);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

@media only screen and (min-width: 768px) {
    
}