header {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 8px;
    top: 0;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ffffff30;
    color: white;
}
 
header .close-btn {
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
    font-size: 3rem;
}

header .cart {
    margin-left: 15px;
}
.header-container {
    display: block;

    
    width: 100%;
}
#searchbar {
    background-color: #FFF;
    border-radius: 25px;
    flex:1;
}

header .menu {
    width: 30px;
    height: 30px;
    margin: 0;
    display: block;
}


.header-left,
.header-right {
    display: flex;
    align-items: center;
}
.header-right{
    flex:1;
    margin-top: 20px;

    
}
header input {
    flex: 1;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 0 20px;

}


header img {
    width: 25px;
    height: 25px;

}
.header-left {
    justify-content: space-between;
}
.cart-badge {
    background-color: var(--primary-color);
    padding: 5px;
    min-width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: -16px;
    right: -16px;
    border: 3px solid black
}

#sign-up {
    padding: 5px;
    width: 80px;
    text-align: center;
    background-color: #FFF;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
}

#log-in {
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 80px;
    background-color: var(--primary-color);
    border-radius: 25px;
    color: #FFF
}


@media only screen and (min-width: 720px) {
    header input {
        margin: 0 10px;
    }

    header .menu {
        display: none;
    }

    header {
        display: block;
        padding-top: 10px;
    }

    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
   

    .header-right {
        margin:0 ;

    }

   
}