header {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 8px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ffffff30;
}

.close-btn {
    width: 20px;
    height: 20px
}

header .cart {
    margin-left: 15px;
}

#mobile-searchbar {
    display: none;
}

.menu {
    width: 30px;
    height: 30px;
    margin: 0;
    display: none;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

header input {
    flex: 1;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 0 20px;

}


header img {
    width: 25px;
    height: 25px;

}

.cart-badge {
    background-color: var(--primary-color);
    padding: 5px;
    min-width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: -16px;
    right: -16px;
    border: 3px solid black
}

#sign-up {
    padding: 5px;
    width: 80px;
    text-align: center;
    background-color: #FFF;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
}

#log-in {
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 80px;
    background-color: var(--primary-color);
    border-radius: 25px;
    color: #FFF
}


@media only screen and (max-width: 768px) {
    header input {
        margin: 0 10px;
    }

    .menu {
        display: inline;
    }

    header {
        display: block;
        padding-top: 10px;
    }

    #desktop-searchbar {
        display: none;
    }

    .header-left {
        justify-content: space-between;
        border-bottom: 1px solid #ffffff30;
    }

    .header-right {
        padding: 15px 0 0;
        padding-left: 8px;
    }

    #mobile-searchbar {
        display: inline-block;
    }
}

@media screen and (max-height: 460px) {


    .cart-menu a {
        font-size: 18px;
    }
}