.product-cart-item img {
    width: 200px;
    height: auto;
}

.product-cart-item .details {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 15px;
    column-gap: 5px;
}

.product-cart-item .product-top {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

.product-cart-item .color-box {
    width: 25px;
    height: 25px
}

.product-cart-item .price {
    margin: 0;
    font-size: small;
}

.product-cart-item .size {
    margin: 0;
    font-size: small;
}

.type {
    color: #00000050;
}

.remove-btn,
.edit-btn {
    color: white;
    flex: 1;
    padding: 10px;
    margin: 5px;

}

.remove-btn {
    background-color: var(--primary-color);
}

.edit-btn {
    background-color: var(--accent-color);
}

.product-cart-item {
    margin: 10px 0;
    align-self: center;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 1px solid #00000020;
    color: black;
    height: 300px;


}

.product-cart-item .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    position: absolute;
    left: 0;
    bottom: 5px;


}

.quantity {
    display: flex;
    align-items: center;
}

.quantity button {
    color: white;
    background-color: black;
    margin-right: 5px;
    border-radius: 50px;
    width: 25px;
    height: 25px
}

.quantity button:hover {
    opacity: 0.5;
}

.quantity p {
    margin-right: 10px;
}

.product-cart-item .product-bottom {
    padding: 20px 20px 0;
    position: relative;
    width: 100%;


}



@media only screen and (max-width:768px) {

    .product-cart-item img {
        width: 150px;
        height: auto;
    }

    .product-cart-item {
        flex-direction: column;
        height: auto
    }

    .product-cart-item .product-bottom {
        border-top: 1px solid #00000020;
        height: 300px;
    }





}